*~
*.m4
Makefile
Makefile.in
autom4te.cache/
compile
configure
install-sh
Warewulf/ACVars.pm
libtool
ltmain.sh
missing
warewulf*.spec
.gitversion
*/*.tar.gz
*/config.log
*/config.status
vnfs/bin/wwmkchroot
common/warewulf-common-*/
provision/warewulf-provision-*/
cluster/warewulf-cluster-*/
ipmi/warewulf-ipmi-*/
vnfs/warewulf-vnfs-*/
provision/3rd_party/_work/
provision/3rd_party/ldlinux.c32
provision/3rd_party/ldlinux.e32
provision/3rd_party/ldlinux.e64
provision/3rd_party/lpxelinux.0
provision/3rd_party/prepare
provision/3rd_party/pxelinux.0
provision/3rd_party/syslinux32.efi
provision/3rd_party/syslinux64.efi
provision/initramfs/_work/
provision/initramfs/capabilities/*/capability.cpio
provision/initramfs/capabilities/*/rootfs/
provision/initramfs/initramfs.cpio
provision/initramfs/rootfs/
