jobs:
  build_centos7:
    docker:
      -
        image: "centos:7"
    steps:
      - checkout
      -
        run:
          command: |
              set -o xtrace
              yum -y install \
                 https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
              rpmkeys --import /etc/pki/rpm-gpg/RPM-GPG-KEY-*
              yum -y --exclude=systemtap --exclude=subversion install @development \
                 binutils-aarch64-linux-gnu device-mapper-devel gcc-aarch64-linux-gnu \
                 libacl-devel libattr-devel libuuid-devel openssl-devel perl-CGI \
                 perl-Compress-Raw-Bzip2 perl-Compress-Raw-Zlib perl-DBD-MySQL perl-DBI \
                 perl-Digest perl-Digest-MD5 perl-IO-Compress perl-Net-Daemon \
                 perl-PlRPC perl-Sys-Syslog perl-Test-Simple xz-devel libtirpc-devel \
                 perl-JSON-PP libblkid libblkid-devel
          name: "Install Build Dependencies"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd common
              ./autogen.sh
              make test
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-common.spec
          name: "Build Common"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              GITVERSION=$(git show -s --pretty=format:%h)
              DIST=$(rpm --eval '%{dist}')
              yum -y install ~/rpmbuild/RPMS/noarch/\
              warewulf-common-3.9.0-0.${GITVERSION}${DIST}.noarch.rpm
          name: "Install warewulf-common"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd cluster
              ./autogen.sh
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-cluster.spec
          name: "Build Cluster"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd ipmi
              ./autogen.sh
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-ipmi.spec
          name: "Build IPMI"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd provision
              ./autogen.sh
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -D "cross_compile 1" \
                -D "mflags -j$(/usr/bin/getconf _NPROCESSORS_ONLN)" \
                -ba ./warewulf-provision.spec
          name: "Build Provision"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd vnfs
              ./autogen.sh
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-vnfs.spec
          name: "Build VNFS"
      -
        store_artifacts:
          destination: RPMS
          path: ~/rpmbuild/RPMS
      -
        store_artifacts:
          destination: SRPMS
          path: ~/rpmbuild/SRPMS
    working_directory: ~/warewulf3
  build_centos8:
    docker:
      -
        image: "centos:8"
    steps:
      - checkout
      -
        run:
          command: |
              set -o xtrace
              dnf -y install dnf-plugins-core
              dnf -y config-manager --set-enabled PowerTools
              dnf -y install \
                 https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
              rpmkeys --import /etc/pki/rpm-gpg/RPM-GPG-KEY-*
              dnf -y --exclude=systemtap --exclude=subversion install @development \
                 device-mapper-devel libacl-devel libattr-devel libuuid-devel \
                 openssl-devel perl-CGI perl-Compress-Raw-Bzip2 perl-Compress-Raw-Zlib \
                 perl-DBD-MySQL perl-DBI perl-Digest perl-Digest-MD5 perl-IO-Compress \
                 perl-Sys-Syslog perl-Test-Simple xz-devel ipmitool parted autofs \
                 e2fsprogs libarchive perl-Test-Harness perl-JSON-PP bsdtar which \
                 libtirpc-devel libblkid libblkid-devel
          name: "Install Build Dependencies"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd common
              ./autogen.sh
              make test
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-common.spec
          name: "Build Common"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              GITVERSION=$(git show -s --pretty=format:%h)
              DIST=$(rpm --eval '%{dist}')
              yum -y install ~/rpmbuild/RPMS/noarch/\
              warewulf-common-3.9.0-0.${GITVERSION}${DIST}.noarch.rpm
          name: "Install warewulf-common"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd cluster
              ./autogen.sh
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-cluster.spec
          name: "Build Cluster"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd ipmi
              ./autogen.sh --with-local-ipmitool=yes
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-ipmi.spec
          name: "Build IPMI"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd provision
              ./autogen.sh --with-local-e2fsprogs --with-local-libarchive \
                 --with-local-parted --with-local-partprobe
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -D "cross_compile 0" \
                 -D "mflags -j$(/usr/bin/getconf _NPROCESSORS_ONLN)" \
                 -ba ./warewulf-provision.spec
          name: "Build Provision"
      -
        run:
          command: |
              set -o xtrace
              set -o nounset
              cd vnfs
              ./autogen.sh
              make dist-gzip
              rpmbuild -D "_sourcedir $PWD" -ba ./warewulf-vnfs.spec
          name: "Build VNFS"
      -
        store_artifacts:
          destination: RPMS
          path: ~/rpmbuild/RPMS
      -
        store_artifacts:
          destination: SRPMS
          path: ~/rpmbuild/SRPMS
    working_directory: ~/warewulf3
workflows:
  build:
    jobs:
      - build_centos7
      - build_centos8
  version: 2

