# The general SUSE include has all of the necessary functions, but requires
# some basic variables specific to each chroot type to be defined.
. include-suse



# Define the location of the YUM repository
ZYP_MIRROR="http://download.opensuse.org/update/13.1/x86_64/"

# Install only what is necessary/specific for this distribution
PKGLIST="sysvinit aaa_base bash openSUSE-release coreutils e2fsprogs ethtool \
    filesystem findutils gawk grep iproute2 iputils mingetty net-tools \
    nfs-kernel-server pam rpcbind procps psmisc rdate rsync sed shadow rsyslog tcpd \
    timezone util-linux words libz1 tar less gzip which module-init-tools \
    udev openssh dhcp-client pciutils vim strace cronie cpufrequtils cpio wget"




# vim:filetype=sh:syntax=sh:expandtab:ts=4:sw=4:
