#DESC: Scientific Linux 5

# The general RHEL include has all of the necessary functions, but requires
# some basic variables specific to each chroot type to be defined.
. include-rhel



# Define the location of the YUM repository
YUM_MIRROR="http://ftp.scientificlinux.org/linux/scientific/5x/\$basearch/SL/"

# Install only what is necessary/specific for this distribution
PKGLIST="SysVinit basesystem bash redhat-release chkconfig coreutils e2fsprogs \
    ethtool filesystem findutils gawk grep initscripts iproute iputils \
    mingetty mktemp net-tools nfs-utils pam portmap procps psmisc rdate rsync \
    sed setup shadow-utils rsyslog tcp_wrappers tzdata util-linux words zlib \
    tar less gzip which util-linux module-init-tools udev openssh-clients \
    openssh-server dhclient pciutils vim-minimal shadow-utils strace \
    vixie-cron crontabs cpuspeed cpufreq-utils cpio wget"


# vim:filetype=sh:syntax=sh:expandtab:ts=4:sw=4:
