#DESC: SUSE Linux Enterprise 11SP3

# The general SUSE include has all of the necessary functions, but requires
# some basic variables specific to each chroot type to be defined.
. include-suse



# Define the location of the Zypper repository
ZYP_MIRROR="SUSE-url"

# Install only what is necessary/specific for this distribution
PKGLIST="sysvinit aaa_base bash sles-release coreutils e2fsprogs ethtool \
    filesystem findutils gawk grep iproute2 iputils mingetty net-tools \
    nfs-kernel-server pam rpcbind procps psmisc pwdutils rsync sed rsyslog tcpd \
    timezone util-linux words zlib tar less gzip module-init-tools \
    udev openssh dhcp-client pciutils vim strace cron cpufrequtils cpio wget zypper libstdc++6 libgcc_s1"




# vim:filetype=sh:syntax=sh:expandtab:ts=4:sw=4:
